black==25.1.0
chromadb==0.6.3
dotenv==0.9.9
faiss-cpu==1.10.0
langchain==0.3.21
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-core==0.3.48
langchain-openai==0.3.10
langchain-text-splitters==0.3.7
langsmith>=0.1.9
langfuse==2.60.2
openai>=1.0.0
pinecone>=6.0.2
python-dotenv==1.1.0
ruff==0.11.2